.gap {
    gap: 4rem;
}

.line {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 107, 1) 49%, rgba(0, 212, 255, 1) 100%);
    position: absolute;
    left: 50%;
    width: .3rem;
    height: 600rem;
}

.bgbody {
    background: linear-gradient(0deg, rgba(14, 26, 93, 1) 0%, rgba(34, 20, 133, 1) 25%, rgba(88, 20, 190, 1) 50%, rgba(118, 17, 218, 1) 75%, rgba(141, 17, 207, 1) 100%);
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.arrow{
    margin: 2px;
    box-shadow: 4px;
}

.margin{
    margin-top: 4rem;
    margin-bottom: 2rem;
}